In [22]:
a=1
a

1

In [21]:
s = 'hello world'
s

'hello world'

In [25]:
s='''hello
my
world'''
print(s)

hello
my
world

In [27]:
s='hello '+' world'
s

'hello  world'

字符串索引

In [56]:
s[4]

'o'

In [32]:
s.split()

['hello', 'world']

In [33]:
print(s)

hello  world

In [34]:
s='hello,world'
s.split(',')

['hello', 'world']

In [35]:
len(s)

11

In [36]:
a=True
a

True

In [37]:
a=1>2
a

False

In [38]:
a=''
a

''

In [39]:
2**3

8

In [40]:
9%2

1

In [46]:
a = 3
a += 2
a

5

In [48]:
a=True
b=False
not(a&b)

True

In [49]:
a=[1,2,3,4,5]
a

[1, 2, 3, 4, 5]

In [50]:
actors=['周迅','章子怡','赵伟']
actors

['周迅', '章子怡', '赵伟']

In [51]:
b=[1,2.3,'汪峰']
b

[1, 2.3, '汪峰']

In [52]:
list('1,2,3,5')

['1', ',', '2', ',', '3', ',', '5']

In [53]:
a+b

[1, 2, 3, 4, 5, 1, 2.3, '汪峰']

In [54]:
a[0]

1

In [61]:
a.append(6)
a

[1, 2, 3, 4, 5, 6, 6, 6, 6, 6]

In [62]:
a.insert(1,10)
a

[1, 10, 2, 3, 4, 5, 6, 6, 6, 6, 6]

In [63]:
a.pop()
a

[1, 10, 2, 3, 4, 5, 6, 6, 6, 6]

In [64]:
a.pop(1)
a

[1, 2, 3, 4, 5, 6, 6, 6, 6]

In [66]:
a[:3]

[1, 2, 3]

In [67]:
a[2:-1]

[3, 4, 5, 6, 6, 6]

In [69]:
b=[1,2,3,4,5,6,7,8,9,10]
b[2:9:3]

[3, 6, 9]

元祖tuple

In [70]:
a=(1,2,3,4,5)
a.pop()

AttributeError: 'tuple' object has no attribute 'pop'

字典

In [74]:
MV={'name':'肖申克的救赎','actor':'罗宾斯','score':9.6,'country':'USA'}
MV

{'name': '肖申克的救赎', 'actor': '罗宾斯', 'score': 9.6, 'country': 'USA'}

In [82]:
MV['name']

'肖申克的救赎'

In [83]:
MV.keys()

dict_keys(['name', 'actor', 'score', 'country'])

In [85]:
mv=MV
mv

{'name': '肖申克的救赎', 'actor': '罗宾斯', 'score': 9.6, 'country': 'USA'}

In [87]:
mv['name']='泰坦众神'
mv

{'name': '泰坦众神', 'actor': '罗宾斯', 'score': 9.6, 'country': 'USA'}

In [88]:
mv['director']='德拉古斯'
mv

{'name': '泰坦众神',
 'actor': '罗宾斯',
 'score': 9.6,
 'country': 'USA',
 'director': '德拉古斯'}

In [89]:
a={2,3,4,2}
a

{2, 3, 4}

In [90]:
len(a)

3

In [97]:
a.add(8)
a

{2, 3, 4, 8}

In [101]:
s={55,33}
s-a

{33, 55}

In [102]:
int(3.1415)

3

In [103]:
float(3)

3.0

In [104]:
a='abcd'
type(a)

str

In [106]:
if 2>10:
    print("hello")

In [109]:
a=1
b=2
if a>b:
    print('a大于b')
else:
    print('a小于b')

a小于b

In [131]:
for i in range(1,10):
    if i%2 == 1:
        print(i)

1
3
5
7
9

In [132]:
[x**2 for x in range(1,10)]

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [133]:
[i for i in range(1,100) if i%10==0]

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [134]:
[str(x) for x in range(1,10)]

['1', '2', '3', '4', '5', '6', '7', '8', '9']

In [137]:
[int(x) for x in list('123456789')]

abs(-1)

1

In [138]:
def add(x,y):
    a=x+y
    return a

In [142]:
print(add('2','a'))

2a

In [143]:
def func(x,a=1,b=0,c=0):
    return a*x**2+b*x+c

In [144]:
func(10)

100

In [145]:
func(10,3)

300