# Pandas

In [1]:
import pandas as pd
import numpy as np

## Series

In [2]:
s=pd.Series([1,3,5])
s

0    1
1    3
2    5
dtype: int64

In [3]:
s=pd.Series([1,3,5,np.nan,6,8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [4]:
s.index

RangeIndex(start=0, stop=6, step=1)

In [5]:
s.values

array([ 1.,  3.,  5., nan,  6.,  8.])

In [6]:
s[3]

nan

In [7]:
s[2:5]

2    5.0
3    NaN
4    6.0
dtype: float64

In [8]:
s[::2]

0    1.0
2    5.0
4    6.0
dtype: float64

In [9]:
s.index.name='索引'
s

索引
0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [10]:
s.index=list('abcdef')
s

a    1.0
b    3.0
c    5.0
d    NaN
e    6.0
f    8.0
dtype: float64

In [11]:
s['a':'c']   #字符串切片，右边也是闭合

a    1.0
b    3.0
c    5.0
dtype: float64

## DataFrame

In [12]:
date=pd.date_range('20180101',periods=6)
print(date)

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06'],
              dtype='datetime64[ns]', freq='D')

In [13]:
df=pd.DataFrame(np.random.randn(6,4))   #二维数组来传入数据
df

          0         1         2         3
0 -0.671899 -1.380150  1.659883 -2.356434
1  0.183611 -0.099576 -0.425715  0.274825
2 -0.629016 -0.263493  1.138300  0.415917
3  1.304714 -0.110924  0.272209  0.044078
4  0.206200 -0.731535  0.874155 -0.556277
5  1.051329  0.418999 -0.036240  0.262612

In [14]:
df=pd.DataFrame(np.random.randn(6,4),index=date,columns=list('ABCD'))   #指定行、列的索引
df

                   A         B         C         D
2018-01-01 -0.243927 -0.129275  0.670360  3.052623
2018-01-02 -1.043254  0.103604  1.816500 -0.898755
2018-01-03  0.731504  0.118222  0.204065 -0.044055
2018-01-04  0.032178  0.631919  1.579964  0.466997
2018-01-05  1.005184 -1.579976 -0.667096  1.060389
2018-01-06 -0.270906  1.657416  1.606676 -0.628475

In [15]:
df2=pd.DataFrame({'A':1.,'B':pd.Timestamp('20181001'),'C':pd.Series(1,index=list(range(4)),dtype=float),'D':np.array([3]*4,dtype=int),'E':pd.Categorical(['test','train','test','train']),'F':'abc'})
df2

     A          B    C  D      E    F
0  1.0 2018-10-01  1.0  3   test  abc
1  1.0 2018-10-01  1.0  3  train  abc
2  1.0 2018-10-01  1.0  3   test  abc
3  1.0 2018-10-01  1.0  3  train  abc

## 查看数据

In [16]:
df.head()

                   A         B         C         D
2018-01-01 -0.243927 -0.129275  0.670360  3.052623
2018-01-02 -1.043254  0.103604  1.816500 -0.898755
2018-01-03  0.731504  0.118222  0.204065 -0.044055
2018-01-04  0.032178  0.631919  1.579964  0.466997
2018-01-05  1.005184 -1.579976 -0.667096  1.060389

In [17]:
df.tail(3)

                   A         B         C         D
2018-01-04  0.032178  0.631919  1.579964  0.466997
2018-01-05  1.005184 -1.579976 -0.667096  1.060389
2018-01-06 -0.270906  1.657416  1.606676 -0.628475

In [18]:
df.index   #查看行标签

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06'],
              dtype='datetime64[ns]', freq='D')

In [19]:
df.columns   #查看列标签值

Index(['A', 'B', 'C', 'D'], dtype='object')

## 读取与操作数据

In [20]:
df=pd.read_excel(r'material/movie-list.xlsx')   #r 表示不需要转义

In [21]:
df.tail(5)

,序号,电影名,评分,电影产地,上映时间,电影主演,豆瓣链接
163,164,圣剑天骄,0.0,电影产地： 香港,上映时间： 1986,"电影主演: 鞠觉亮 , 刘德华 , 张卫健 , 庄静而",https://movie.douban.com/subject/19945745/?fro...
164,165,追龙 追龍,0.0,电影产地： 香港,上映时间： 2018,"电影主演: 王晶 , 甄子丹 , 刘德华 , 郑则仕",https://movie.douban.com/subject/26425068/?fro...
165,166,神犬小七 第三季,0.0,电影产地： 中国大陆,上映时间： 2017,"电影主演: 袁晓满 , 姜潮 , 宋妍霏 , 王洋",https://movie.douban.com/subject/26910950/?fro...
166,167,热血合唱团 熱血合唱團,0.0,电影产地： 香港,上映时间： 香港,"电影主演: 剧情 , 2017 , 关信辉 , 刘德华",https://movie.douban.com/subject/26991880/?fro...
167,168,鼓舞,0.0,电影产地： 香港,上映时间： 暂无,"电影主演: 香港 , 1985 , 刘德华 , 毛舜筠",https://movie.douban.com/subject/3408346/?from...

In [22]:
df.iloc[0]

序号                                                      1
电影名                                           星星同学会 星星同學會
评分                                                    8.9
电影产地                                            电影产地： 香港
上映时间                                          上映时间：  脱口秀
电影主演                        电影主演:  2009 , 杨家宝 , 吴君如 , 钱嘉乐
豆瓣链接    https://movie.douban.com/subject/26426069/?fro...
Name: 0, dtype: object

In [23]:
df.iloc[0:5]

,序号,电影名,评分,电影产地,上映时间,电影主演,豆瓣链接
0,1,星星同学会 星星同學會,8.9,电影产地： 香港,上映时间： 脱口秀,"电影主演: 2009 , 杨家宝 , 吴君如 , 钱嘉乐",https://movie.douban.com/subject/26426069/?fro...
1,2,无间道(正序版),8.7,电影产地： 香港,上映时间： 2006,"电影主演: 刘伟强 , 刘德华 , 梁朝伟 , 黎明",https://movie.douban.com/subject/4860078/?from...
2,3,暗战 暗戰,8.4,电影产地： 香港,上映时间： 1999,"电影主演: 杜琪峰 , 刘德华 , 刘青云 , 蒙嘉慧",https://movie.douban.com/subject/1298898/?from...
3,4,异域 異域,8.3,电影产地： 台湾,上映时间： 1990,"电影主演: 朱延平 , 庹宗华 , 刘德华 , 郎雄",https://movie.douban.com/subject/1307756/?from...
4,5,金鸡,8.1,电影产地： 香港,上映时间： 2002,"电影主演: 赵良骏 , 吴君如 , 曾志伟 , 陈奕迅",https://movie.douban.com/subject/1303630/?from...

In [24]:
df.loc[0:5]  #比iloc多一行

,序号,电影名,评分,电影产地,上映时间,电影主演,豆瓣链接
0,1,星星同学会 星星同學會,8.9,电影产地： 香港,上映时间： 脱口秀,"电影主演: 2009 , 杨家宝 , 吴君如 , 钱嘉乐",https://movie.douban.com/subject/26426069/?fro...
1,2,无间道(正序版),8.7,电影产地： 香港,上映时间： 2006,"电影主演: 刘伟强 , 刘德华 , 梁朝伟 , 黎明",https://movie.douban.com/subject/4860078/?from...
2,3,暗战 暗戰,8.4,电影产地： 香港,上映时间： 1999,"电影主演: 杜琪峰 , 刘德华 , 刘青云 , 蒙嘉慧",https://movie.douban.com/subject/1298898/?from...
3,4,异域 異域,8.3,电影产地： 台湾,上映时间： 1990,"电影主演: 朱延平 , 庹宗华 , 刘德华 , 郎雄",https://movie.douban.com/subject/1307756/?from...
4,5,金鸡,8.1,电影产地： 香港,上映时间： 2002,"电影主演: 赵良骏 , 吴君如 , 曾志伟 , 陈奕迅",https://movie.douban.com/subject/1303630/?from...
5,6,爱在阳光下 愛在陽光下,8.1,电影产地： 香港,上映时间： 2003,"电影主演: 刘德华 , 刘德华 , 郑秀文 , 林子祥",https://movie.douban.com/subject/3798935/?from...

In [25]:
dit={'序号':'3','电影名':'复仇啊复仇','评分':'6.5','电影产地':'电影产地：火星','上映时间':'上映时间：2055','电影主演':'电影主演：筷子兄弟','豆瓣链接':'https://5.com'}
s=pd.Series(dit)
s.name=300

In [26]:
s

序号                  3
电影名             复仇啊复仇
评分                6.5
电影产地          电影产地：火星
上映时间        上映时间：2055
电影主演        电影主演：筷子兄弟
豆瓣链接    https://5.com
Name: 300, dtype: object

In [27]:
df=df.append(s)
df[-5:]

,序号,电影名,评分,电影产地,上映时间,电影主演,豆瓣链接
164,165,追龙 追龍,0,电影产地： 香港,上映时间： 2018,"电影主演: 王晶 , 甄子丹 , 刘德华 , 郑则仕",https://movie.douban.com/subject/26425068/?fro...
165,166,神犬小七 第三季,0,电影产地： 中国大陆,上映时间： 2017,"电影主演: 袁晓满 , 姜潮 , 宋妍霏 , 王洋",https://movie.douban.com/subject/26910950/?fro...
166,167,热血合唱团 熱血合唱團,0,电影产地： 香港,上映时间： 香港,"电影主演: 剧情 , 2017 , 关信辉 , 刘德华",https://movie.douban.com/subject/26991880/?fro...
167,168,鼓舞,0,电影产地： 香港,上映时间： 暂无,"电影主演: 香港 , 1985 , 刘德华 , 毛舜筠",https://movie.douban.com/subject/3408346/?from...
300,3,复仇啊复仇,6.5,电影产地：火星,上映时间：2055,电影主演：筷子兄弟,https://5.com

In [28]:
df=df.drop([300])
df[-5:]

,序号,电影名,评分,电影产地,上映时间,电影主演,豆瓣链接
163,164,圣剑天骄,0,电影产地： 香港,上映时间： 1986,"电影主演: 鞠觉亮 , 刘德华 , 张卫健 , 庄静而",https://movie.douban.com/subject/19945745/?fro...
164,165,追龙 追龍,0,电影产地： 香港,上映时间： 2018,"电影主演: 王晶 , 甄子丹 , 刘德华 , 郑则仕",https://movie.douban.com/subject/26425068/?fro...
165,166,神犬小七 第三季,0,电影产地： 中国大陆,上映时间： 2017,"电影主演: 袁晓满 , 姜潮 , 宋妍霏 , 王洋",https://movie.douban.com/subject/26910950/?fro...
166,167,热血合唱团 熱血合唱團,0,电影产地： 香港,上映时间： 香港,"电影主演: 剧情 , 2017 , 关信辉 , 刘德华",https://movie.douban.com/subject/26991880/?fro...
167,168,鼓舞,0,电影产地： 香港,上映时间： 暂无,"电影主演: 香港 , 1985 , 刘德华 , 毛舜筠",https://movie.douban.com/subject/3408346/?from...

列操作

In [29]:
df.columns

Index(['序号', '电影名', '评分', '电影产地', '上映时间', '电影主演', '豆瓣链接'], dtype='object')

In [31]:
df['电影名']

0                          星星同学会 星星同學會
1                             无间道(正序版)
2                                暗战 暗戰
3                                异域 異域
4                                   金鸡
5                          爱在阳光下 愛在陽光下
6                            志云饭局 志雲飯局
7                                 天若有情
8                                   赌神
9                无间道3：终极无间 無間道III 終極無間
10                               无憾 無憾
11                                真命天子
12                                爱情恋曲
13                                 天狼劫
14                               争气 爭氣
15                               摩登小男人
16                                天下无贼
17                           旺角卡门 旺角卡門
18                                  黑金
19            五亿探长雷洛传1：雷老虎 五億探長雷洛傳：雷老虎
20                           神雕侠侣 神鵰俠侶
21                                 杨家将
22                                天下无贼
23                               门徒 門徒
24                           新上海滩 新上海灘
25                             醉拳2 醉拳Ⅱ
26                     上海滩十三太保 上海灘十三太保
27                                 法内情
28                           天长地久 天長地久
29                                家在香港
                    ...
138                   2005年中央电视台春节联欢晚会
139                          哗！英雄 嘩！英雄
140                               天地雄心
141                             1/2次同床
142                               十面埋伏
143                              我知女人心
144                             决战紫禁之巅
145                               魔幻厨房
146                              爱情梦幻号
147                                星映话
148                              老鼠爱上猫
149                            卫斯理之蓝血人
150                              轰天龙虎会
151                            三国之见龙卸甲
152                          侠盗联盟 俠盜聯盟
153                                寒战3
154                               十二金刚
155                               捉妖天师
156                               皇上保重
157                         全民目击2：过渡空间
158                                老家伙
159                香港香港之江湖再见 香港香港之江湖再見
160    第28届香港电影金像奖颁奖典礼 第28屆香港電影金像獎頒獎典禮
161                              花艇小英雄
162                          临歧：决 臨歧：決
163                               圣剑天骄
164                              追龙 追龍
165                           神犬小七 第三季
166                        热血合唱团 熱血合唱團
167                                 鼓舞
Name: 电影名, Length: 168, dtype: object

In [32]:
df['电影名'][:5]

0    星星同学会 星星同學會
1       无间道(正序版)
2          暗战 暗戰
3          异域 異域
4             金鸡
Name: 电影名, dtype: object

In [36]:
df[['电影名','电影主演']][:10]

                     电影名                           电影主演
0            星星同学会 星星同學會  电影主演:  2009 , 杨家宝 , 吴君如 , 钱嘉乐
1               无间道(正序版)    电影主演:  刘伟强 , 刘德华 , 梁朝伟 , 黎明
2                  暗战 暗戰   电影主演:  杜琪峰 , 刘德华 , 刘青云 , 蒙嘉慧
3                  异域 異域    电影主演:  朱延平 , 庹宗华 , 刘德华 , 郎雄
4                     金鸡   电影主演:  赵良骏 , 吴君如 , 曾志伟 , 陈奕迅
5            爱在阳光下 愛在陽光下   电影主演:  刘德华 , 刘德华 , 郑秀文 , 林子祥
6              志云饭局 志雲飯局  电影主演:  2006 , 陈志云 , 郑裕玲 , 刘德华
7                   天若有情   电影主演:  陈木胜 , 刘德华 , 吴倩莲 , 吴孟达
8                     赌神    电影主演:  王晶 , 周润发 , 刘德华 , 王祖贤
9  无间道3：终极无间 無間道III 終極無間    电影主演:  刘伟强 , 梁朝伟 , 刘德华 , 黎明

In [37]:
df['名字']=range(1,len(df)+1)
df[:10]

,序号,电影名,评分,电影产地,上映时间,电影主演,豆瓣链接,名字
0,1,星星同学会 星星同學會,8.9,电影产地： 香港,上映时间： 脱口秀,"电影主演: 2009 , 杨家宝 , 吴君如 , 钱嘉乐",https://movie.douban.com/subject/26426069/?fro...,1
1,2,无间道(正序版),8.7,电影产地： 香港,上映时间： 2006,"电影主演: 刘伟强 , 刘德华 , 梁朝伟 , 黎明",https://movie.douban.com/subject/4860078/?from...,2
2,3,暗战 暗戰,8.4,电影产地： 香港,上映时间： 1999,"电影主演: 杜琪峰 , 刘德华 , 刘青云 , 蒙嘉慧",https://movie.douban.com/subject/1298898/?from...,3
3,4,异域 異域,8.3,电影产地： 台湾,上映时间： 1990,"电影主演: 朱延平 , 庹宗华 , 刘德华 , 郎雄",https://movie.douban.com/subject/1307756/?from...,4
4,5,金鸡,8.1,电影产地： 香港,上映时间： 2002,"电影主演: 赵良骏 , 吴君如 , 曾志伟 , 陈奕迅",https://movie.douban.com/subject/1303630/?from...,5
5,6,爱在阳光下 愛在陽光下,8.1,电影产地： 香港,上映时间： 2003,"电影主演: 刘德华 , 刘德华 , 郑秀文 , 林子祥",https://movie.douban.com/subject/3798935/?from...,6
6,7,志云饭局 志雲飯局,8.1,电影产地： 香港,上映时间： 脱口秀,"电影主演: 2006 , 陈志云 , 郑裕玲 , 刘德华",https://movie.douban.com/subject/26435674/?fro...,7
7,8,天若有情,8,电影产地： 香港,上映时间： 1990,"电影主演: 陈木胜 , 刘德华 , 吴倩莲 , 吴孟达",https://movie.douban.com/subject/1297710/?from...,8
8,9,赌神,7.9,电影产地： 香港,上映时间： 1989,"电影主演: 王晶 , 周润发 , 刘德华 , 王祖贤",https://movie.douban.com/subject/1300883/?from...,9
9,10,无间道3：终极无间 無間道III 終極無間,7.8,电影产地： 中国大陆,上映时间： 2003,"电影主演: 刘伟强 , 梁朝伟 , 刘德华 , 黎明",https://movie.douban.com/subject/1307694/?from...,10

In [39]:
df=df.drop('名字',axis=1)
df[:10]

,电影名,评分,电影产地,上映时间,电影主演,豆瓣链接
0,星星同学会 星星同學會,8.9,电影产地： 香港,上映时间： 脱口秀,"电影主演: 2009 , 杨家宝 , 吴君如 , 钱嘉乐",https://movie.douban.com/subject/26426069/?fro...
1,无间道(正序版),8.7,电影产地： 香港,上映时间： 2006,"电影主演: 刘伟强 , 刘德华 , 梁朝伟 , 黎明",https://movie.douban.com/subject/4860078/?from...
2,暗战 暗戰,8.4,电影产地： 香港,上映时间： 1999,"电影主演: 杜琪峰 , 刘德华 , 刘青云 , 蒙嘉慧",https://movie.douban.com/subject/1298898/?from...
3,异域 異域,8.3,电影产地： 台湾,上映时间： 1990,"电影主演: 朱延平 , 庹宗华 , 刘德华 , 郎雄",https://movie.douban.com/subject/1307756/?from...
4,金鸡,8.1,电影产地： 香港,上映时间： 2002,"电影主演: 赵良骏 , 吴君如 , 曾志伟 , 陈奕迅",https://movie.douban.com/subject/1303630/?from...
5,爱在阳光下 愛在陽光下,8.1,电影产地： 香港,上映时间： 2003,"电影主演: 刘德华 , 刘德华 , 郑秀文 , 林子祥",https://movie.douban.com/subject/3798935/?from...
6,志云饭局 志雲飯局,8.1,电影产地： 香港,上映时间： 脱口秀,"电影主演: 2006 , 陈志云 , 郑裕玲 , 刘德华",https://movie.douban.com/subject/26435674/?fro...
7,天若有情,8,电影产地： 香港,上映时间： 1990,"电影主演: 陈木胜 , 刘德华 , 吴倩莲 , 吴孟达",https://movie.douban.com/subject/1297710/?from...
8,赌神,7.9,电影产地： 香港,上映时间： 1989,"电影主演: 王晶 , 周润发 , 刘德华 , 王祖贤",https://movie.douban.com/subject/1300883/?from...
9,无间道3：终极无间 無間道III 終極無間,7.8,电影产地： 中国大陆,上映时间： 2003,"电影主演: 刘伟强 , 梁朝伟 , 刘德华 , 黎明",https://movie.douban.com/subject/1307694/?from...

In [40]:
df.loc[3,'电影名']

'异域 異域'

In [42]:
df.loc[[1,3,5,7,9],['电影名','评分']]

                     电影名   评分
1               无间道(正序版)  8.7
3                  异域 異域  8.3
5            爱在阳光下 愛在陽光下  8.1
7                   天若有情    8
9  无间道3：终极无间 無間道III 終極無間  7.8

In [57]:
df[df['电影产地']=='电影产地： 香港 '][:5]

,电影名,评分,电影产地,上映时间,电影主演,豆瓣链接
0,星星同学会 星星同學會,8.9,电影产地： 香港,上映时间： 脱口秀,"电影主演: 2009 , 杨家宝 , 吴君如 , 钱嘉乐",https://movie.douban.com/subject/26426069/?fro...
1,无间道(正序版),8.7,电影产地： 香港,上映时间： 2006,"电影主演: 刘伟强 , 刘德华 , 梁朝伟 , 黎明",https://movie.douban.com/subject/4860078/?from...
2,暗战 暗戰,8.4,电影产地： 香港,上映时间： 1999,"电影主演: 杜琪峰 , 刘德华 , 刘青云 , 蒙嘉慧",https://movie.douban.com/subject/1298898/?from...
4,金鸡,8.1,电影产地： 香港,上映时间： 2002,"电影主演: 赵良骏 , 吴君如 , 曾志伟 , 陈奕迅",https://movie.douban.com/subject/1303630/?from...
5,爱在阳光下 愛在陽光下,8.1,电影产地： 香港,上映时间： 2003,"电影主演: 刘德华 , 刘德华 , 郑秀文 , 林子祥",https://movie.douban.com/subject/3798935/?from...