# Pandas

In [9]:
import pandas as pd
import numpy as np

## Series

In [16]:
s=pd.Series([1,3,5])
s

0    1
1    3
2    5
dtype: int64

In [17]:
s=pd.Series([1,3,5,np.nan,6,8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [18]:
s.index

RangeIndex(start=0, stop=6, step=1)

In [19]:
s.values

array([ 1.,  3.,  5., nan,  6.,  8.])

In [21]:
s[3]

nan

In [22]:
s[2:5]

2    5.0
3    NaN
4    6.0
dtype: float64

In [23]:
s[::2]

0    1.0
2    5.0
4    6.0
dtype: float64

In [24]:
s.index.name='索引'
s

索引
0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [25]:
s.index=list('abcdef')
s

a    1.0
b    3.0
c    5.0
d    NaN
e    6.0
f    8.0
dtype: float64

In [26]:
s['a':'c']   #字符串切片，右边也是闭合

a    1.0
b    3.0
c    5.0
dtype: float64

## DataFrame

In [27]:
date=pd.date_range('20180101',periods=6)
print(date)

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06'],
              dtype='datetime64[ns]', freq='D')

In [28]:
df=pd.DataFrame(np.random.randn(6,4))   #二维数组来传入数据
df

          0         1         2         3
0  0.611281  0.262449 -0.589165  1.318900
1  0.149808  1.461939 -0.810841  0.921244
2  0.366832  0.686771 -0.532946 -0.419580
3  1.287632 -0.235266 -0.470571 -1.285552
4  1.461423  1.255447  0.413278 -0.284723
5 -0.487090  1.569902  1.060514  0.026648

In [29]:
df=pd.DataFrame(np.random.randn(6,4),index=date,columns=list('ABCD'))   #指定行、列的索引
df

                   A         B         C         D
2018-01-01 -1.935365 -0.133091  1.149894 -0.610261
2018-01-02  1.311786  1.542662 -0.380571  1.103651
2018-01-03  0.294277 -0.798738 -1.273779  0.161081
2018-01-04 -0.134481 -0.606157 -0.613771  0.547763
2018-01-05 -0.246078  1.113769 -1.990592 -1.027454
2018-01-06  1.030837 -0.714014  0.375010 -0.339833

In [30]:
df2=pd.DataFrame({'A':1.,'B':pd.Timestamp('20181001'),'C':pd.Series(1,index=list(range(4)),dtype=float),'D':np.array([3]*4,dtype=int),'E':pd.Categorical(['test','train','test','train']),'F':'abc'})
df2

     A          B    C  D      E    F
0  1.0 2018-10-01  1.0  3   test  abc
1  1.0 2018-10-01  1.0  3  train  abc
2  1.0 2018-10-01  1.0  3   test  abc
3  1.0 2018-10-01  1.0  3  train  abc

## 查看数据

In [31]:
df.head()

                   A         B         C         D
2018-01-01 -1.935365 -0.133091  1.149894 -0.610261
2018-01-02  1.311786  1.542662 -0.380571  1.103651
2018-01-03  0.294277 -0.798738 -1.273779  0.161081
2018-01-04 -0.134481 -0.606157 -0.613771  0.547763
2018-01-05 -0.246078  1.113769 -1.990592 -1.027454

In [32]:
df.tail(3)

                   A         B         C         D
2018-01-04 -0.134481 -0.606157 -0.613771  0.547763
2018-01-05 -0.246078  1.113769 -1.990592 -1.027454
2018-01-06  1.030837 -0.714014  0.375010 -0.339833

In [33]:
df.index   #查看行标签

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06'],
              dtype='datetime64[ns]', freq='D')

In [35]:
df.columns   #查看列标签值

Index(['A', 'B', 'C', 'D'], dtype='object')

## 读取与操作数据

In [45]:
df=pd.read_excel(r'C:\Users\bingsloan\Desktop\MovieList.xlsx')   #r 表示不需要转义

In [50]:
df.tail(1)

,序号,电影名,评分,电影产地,上映时间,电影主演,豆瓣链接
299,300,天生不对,0.0,电影产地： 中国大陆,上映时间： 2017,"电影主演: 谷德昭 , 周渝民 , 薛凯琪 , 郑中基",https://movie.douban.com/subject/26696871/?fro...

In [47]:
df.iloc[0]

序号                                                      1
电影名                                  泰坦尼克号 3D版 Titanic 3D
评分                                                    9.4
电影产地                                            电影产地： 美国
上映时间                                         上映时间：  2012
电影主演        电影主演:  詹姆斯·卡梅隆 , 莱昂纳多·迪卡普里奥 , 凯特·温丝莱特 , 比利·赞恩
豆瓣链接    https://movie.douban.com/subject/5450891/?from...
Name: 0, dtype: object

In [48]:
df.iloc[0:5]

,序号,电影名,评分,电影产地,上映时间,电影主演,豆瓣链接
0,1,泰坦尼克号 3D版 Titanic 3D,9.4,电影产地： 美国,上映时间： 2012,"电影主演: 詹姆斯·卡梅隆 , 莱昂纳多·迪卡普里奥 , 凯特·温丝莱特 , 比利·赞恩",https://movie.douban.com/subject/5450891/?from...
1,2,开卷8分钟 開卷8分鐘,9.4,电影产地： 香港,上映时间： 香港,"电影主演: 脱口秀 , 2007 , 凤凰卫视 , 梁文道",https://movie.douban.com/subject/26292731/?fro...
2,3,机器人总动员 WALL·E,9.3,电影产地： 美国,上映时间： 2008,"电影主演: 安德鲁·斯坦顿 , 本·贝尔特 , 艾丽莎·奈特 , 杰夫·格尔林",https://movie.douban.com/subject/2131459/?from...
3,4,侣行 第1季,9.3,电影产地： 中国大陆,上映时间： 中国大陆,"电影主演: 纪录片 , 2013 , 张昕宇 , 梁红",https://movie.douban.com/subject/24863312/?fro...
4,5,泰坦尼克号 Titanic,9.2,电影产地： 美国,上映时间： 1997,"电影主演: 詹姆斯·卡梅隆 , 莱昂纳多·迪卡普里奥 , 凯特·温丝莱特 , 比利·赞恩",https://movie.douban.com/subject/1292722/?from...

In [49]:
df.loc[0:5]  #比iloc多一行

,序号,电影名,评分,电影产地,上映时间,电影主演,豆瓣链接
0,1,泰坦尼克号 3D版 Titanic 3D,9.4,电影产地： 美国,上映时间： 2012,"电影主演: 詹姆斯·卡梅隆 , 莱昂纳多·迪卡普里奥 , 凯特·温丝莱特 , 比利·赞恩",https://movie.douban.com/subject/5450891/?from...
1,2,开卷8分钟 開卷8分鐘,9.4,电影产地： 香港,上映时间： 香港,"电影主演: 脱口秀 , 2007 , 凤凰卫视 , 梁文道",https://movie.douban.com/subject/26292731/?fro...
2,3,机器人总动员 WALL·E,9.3,电影产地： 美国,上映时间： 2008,"电影主演: 安德鲁·斯坦顿 , 本·贝尔特 , 艾丽莎·奈特 , 杰夫·格尔林",https://movie.douban.com/subject/2131459/?from...
3,4,侣行 第1季,9.3,电影产地： 中国大陆,上映时间： 中国大陆,"电影主演: 纪录片 , 2013 , 张昕宇 , 梁红",https://movie.douban.com/subject/24863312/?fro...
4,5,泰坦尼克号 Titanic,9.2,电影产地： 美国,上映时间： 1997,"电影主演: 詹姆斯·卡梅隆 , 莱昂纳多·迪卡普里奥 , 凯特·温丝莱特 , 比利·赞恩",https://movie.douban.com/subject/1292722/?from...
5,6,月神 La Luna,9.0,电影产地： 美国,上映时间： 2011,"电影主演: 埃里康·卡萨罗萨 , 克丽斯塔·谢富勒 , 托尼·弗希勒 , 菲尔·谢里登",https://movie.douban.com/subject/6313765/?from...

In [51]:
dit={'序号':'3','电影名':'复仇啊复仇','评分':'6.5','电影产地':'电影产地：火星','上映时间':'上映时间：2055','电影主演':'电影主演：筷子兄弟','豆瓣链接':'https://5.com'}
s=pd.Series(dit)
s.name=300

In [52]:
s

序号                  3
电影名             复仇啊复仇
评分                6.5
电影产地          电影产地：火星
上映时间        上映时间：2055
电影主演        电影主演：筷子兄弟
豆瓣链接    https://5.com
Name: 300, dtype: object

In [53]:
df=df.append(s)
df[-5:]

,序号,电影名,评分,电影产地,上映时间,电影主演,豆瓣链接
296,297,我最好朋友的婚礼,4.3,电影产地： 中国大陆,上映时间： 2016,"电影主演: 陈飞宏 , 舒淇 , 冯绍峰 , 宋茜",https://movie.douban.com/subject/26394441/?fro...
297,298,梦幻佳期,3.6,电影产地： 中国大陆,上映时间： 2015,"电影主演: 王凯阳 , 闵春晓 , 张亚希 , 孙菂",https://movie.douban.com/subject/25911613/?fro...
298,299,夏至未至,0,电影产地： 中国大陆,上映时间： 2017,"电影主演: 韩洋 , 陈学冬 , 郑爽 , 白敬亭",https://movie.douban.com/subject/26734684/?fro...
299,300,天生不对,0,电影产地： 中国大陆,上映时间： 2017,"电影主演: 谷德昭 , 周渝民 , 薛凯琪 , 郑中基",https://movie.douban.com/subject/26696871/?fro...
300,3,复仇啊复仇,6.5,电影产地：火星,上映时间：2055,电影主演：筷子兄弟,https://5.com

In [54]:
df=df.drop([300])
df[-5:]

,序号,电影名,评分,电影产地,上映时间,电影主演,豆瓣链接
295,296,冲上云霄 衝上雲霄,4.4,电影产地： 香港,上映时间： 2015,"电影主演: 叶伟信 , 古天乐 , 郑秀文 , 吴镇宇",https://movie.douban.com/subject/7003416/?from...
296,297,我最好朋友的婚礼,4.3,电影产地： 中国大陆,上映时间： 2016,"电影主演: 陈飞宏 , 舒淇 , 冯绍峰 , 宋茜",https://movie.douban.com/subject/26394441/?fro...
297,298,梦幻佳期,3.6,电影产地： 中国大陆,上映时间： 2015,"电影主演: 王凯阳 , 闵春晓 , 张亚希 , 孙菂",https://movie.douban.com/subject/25911613/?fro...
298,299,夏至未至,0,电影产地： 中国大陆,上映时间： 2017,"电影主演: 韩洋 , 陈学冬 , 郑爽 , 白敬亭",https://movie.douban.com/subject/26734684/?fro...
299,300,天生不对,0,电影产地： 中国大陆,上映时间： 2017,"电影主演: 谷德昭 , 周渝民 , 薛凯琪 , 郑中基",https://movie.douban.com/subject/26696871/?fro...